  {% extends "base.html" %}
  {% block content %}
  <div class="container-fluid px-4">
                        <h1 class="mt-4">Borrower Loans</h1>
                        
                        
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Borrower Loans
                            </div>
                            
                            <div class="card-body">
                                <table id="datatablesSimple" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Loan ID</th>
                                            <th>Borrower Name</th>
                                            <th>National ID</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for loan in borrower %}
                                        <tr>
                                            <td>{{ loan.id }}</td>
                                            <td>{{ loan.borrower.name }}</td>
                                            <td>{{ loan.national_id }}</td>
                                            <td>{{ loan.amount }}</td>
                                            <td>{{ loan.status }}</td>
                                            <td>
                                                <a href="{% url "borrower_details" loan.pk %}" class="btn btn-primary btn-sm">View</a>
                                                {% if loan.status == 'Pending' %}
                                                <a href="{% url 'approve_loan' loan.id %}" class="btn btn-success btn-sm">Approve</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>  
                        </div>
                    </div>
                  

{% include "footer.html" %}

{% endblock  %}